* {
  padding: 0;
  margin: 0;
}

p,
h2,
h1,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

:root {
  --primary-bg: #000000;
  --text-color: #ffffff;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--primary-bg);
  /* background-color: #545454; */
  color: var(--text-color);
}

.canvas__container {
  height: 100vh;
  width: 100%;
}

.contoller__container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.app__content__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
  transition: all 0.8s ease;
  opacity: 0;
}

.app__content__wrapper.show {
  opacity: 1;
}

.app__top__content__box {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--text-color);
  pointer-events: none;
}

.app__top__content__box__left,
.app__top__content__box__right {
  max-width: 350px;
  padding: 15px;
}

.app__top__content__box__left {
  border-right: 1px solid var(--text-color);
}

.app__top__content__box__right {
  border-left: 1px solid var(--text-color);
}

.app__top__content__box__left h2 {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.app__top__content__box__left p {
  font-size: 12px;
}

.app__top__content__box__right .flex__con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__top__content__box__right h2 {
  font-size: 30px;
  font-weight: 400;
}

.app__top__content__box__right p {
  font-size: 10px;
  font-weight: 400;
}

.app__top__chinese {
  margin-top: 40px;
}

.app__top__chinese p {
  font-size: 10px;
  font-weight: 400;
  max-width: 289px;
}

.app__bottom__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  pointer-events: none;
}

.app__bottom__content__left {
  flex: 1;
  max-width: 369px;
  width: 100%;
}

.app__bottom__content__left p {
  font-size: 12px;
  font-weight: 400;
}

.app__bottom__content__right {
  max-width: 407px;
  flex: 1;
}

.app__bottom__content__right img {
  width: 100%;
}

.app__bottom__content .designed_by {
  display: none;
}

.app__middle__content .app__middle__content__button__con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.app__middle__content__button__con .button__con {
  height: 64px;
  max-width: 250px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.app__middle__content__button__con .next,
.app__middle__content__button__con .prev {
  all: unset;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400px;
  width: 100%;
  height: 100%;
  pointer-events: all;

  /* background-color: white; */
}

.app__middle__content__button__con .prev .rect__svg {
  transform: rotateY(180deg);
}

.app__middle__content__button__con .next .rectangle,
.app__middle__content__button__con .prev .rectangle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.app__middle__content__button__con .next .rectangle svg,
.app__middle__content__button__con .prev .rectangle svg {
  width: 100%;
  height: 100%;
}

.app__middle__content__button__con .button__con .white__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
  border-radius: 8px;
}
